html {
    font: 100%/1.5 -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto',
    'Helvetica Neue','Arial','Noto Sans',sans-serif,'Apple Color Emoji',
    'Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #fcfaff;
    color: #36313d;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    letter-spacing: -0.015em;
}